.text-format {
  vertical-align: middle;
}

.center-format {
  text-align: center;
  vertical-align: middle;
}

.text-right {
  text-align: right;
  vertical-align: middle;
}

table thead tr {
  background-color: black;
  color: white;
}

table thead tr th {
  vertical-align: middle;
}

table tbody tr td {
  vertical-align: middle;
}

.form-control:focus {
  color: #dc3545;
  background-color: #fff;
  border-color: #ffc107;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255, 193, 7);
}
